/*
 * Meta box styles
 */

/* Fix for textarea and other elements that shouldn't go over the limit of their td. */
.meta-box,
.meta-box-repeatable {
  table-layout: fixed;
}

.meta-box h2 {
  border-bottom: 1px solid rgba(0,0,0,0.05);
  margin-bottom: 5px !important;
}

.meta-box td {
  padding: 5px 0;
}

.meta-box .meta-box-field-label {
  display: block;
}



.meta-box .description {
  color: #777;
  display: block;
  font-size: .8em;
  font-style: italic;
  font-weight: normal;
  padding-top: 5px;
  clear: both;
}

/* slider */
.meta-box .ui-slider-horizontal {
  margin-bottom: 20px;
}

.meta-box .ui-slider-handle {
  cursor: move;
  outline: none;
  text-decoration: none;
  z-index: 10;
}

.meta-box .ui-slider-handle.ui-state-hover,
.meta-box .ui-slider-handle.ui-state-focus {
  z-index: 11;
}

.meta-box .ui-slider-handle span {
  background: #fff;
  border-radius: inherit;
  border: inherit;
  font-size: .8em;
  padding: 2px 4px;
}

/* radio, checkbox */
.meta-box .meta-box-items {
  margin: 0;
}

.meta-box .meta-box-items li {
  display: inline-block;
  margin: 2px 15px 2px 0;
}


/* plaintext */
.meta-box .meta-box-plaintext .description {
  font-size: 1em;
}


/* image */
.meta-box .meta-box-image {
  float: left;
}
.meta-box .meta-box-preview-image {
  display: block;
  margin-bottom: 3px;
  max-height: 200px;
  max-width: 200px;
}

.meta-box .meta-box-preview-image {
  cursor: pointer;
}

.meta-box .meta-box-clear-image-button,
.meta-box .meta-box-clear-file-button {
  clear: both;
  display: block;
  font-size: .8em;
  font-style: italic;
  margin-top: 2px;
}


/* file */
.meta-box .meta-box-upload-file-button {
  float: left;
  margin-top: 8px;
}

.meta-box .meta-box-file-title,
.meta-box .meta-box-image-title {
  float: left;
}

.meta-box .meta-box-file-icon,
.meta-box .meta-box-preview-image.invalid {
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  float: left;
  height: 48px;
  margin-right: 10px;
  width: 40px;
}

.meta-box .meta-box-file-icon.checked {
  background-position: -40px 0;
}

.meta-box .meta-box-file-icon.invalid,
.meta-box .meta-box-preview-image.invalid {
  background-position: -80px 0;
}

.meta-box .meta-box-preview-image.invalid {
  color: transparent; /* Make alt text disappear. */
}


/* select */
.meta-box select {
  width: 25em;
}


/**** REPEATABLE FIELDS ****/

.meta-box .meta-box-repeatable {
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  min-width: 100%;
}

.meta-box .meta-box-repeatable thead,
.meta-box .meta-box-repeatable tfoot {
  background: #f7f7f7;
}

.meta-box .meta-box-repeatable thead th {
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.meta-box .meta-box-repeatable tbody tr:not(:first-child) td,
.meta-box .meta-box-repeatable tfoot th {
  border-top: 1px solid rgba(0,0,0,0.05);
}

.meta-box .meta-box-repeatable th {
  color: #777;
  font-size: .7em;
  padding: 10px 5px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.meta-box .meta-box-repeatable th:first-child,
.meta-box .meta-box-repeatable th:last-child {
  width: 16px;
}

.meta-box .meta-box-repeatable tbody td {
  background: none;
  vertical-align: top;
}

.meta-box .meta-box-repeatable tbody tr:nth-child(even) td {
  background: rgba(0,0,0,0.01);
}

.meta-box .meta-box-repeatable .repeatable-empty-message {
  background: rgba(255,255,255,0.70);
  display: none;
  font-style: italic;
  padding: 10px;
}

.meta-box .meta-box-repeatable .meta-box-field-label {
  font-weight: bold;
  line-height: 2;
  margin-top: 10px;
  margin-bottom: 5px;
}

.meta-box .meta-box-repeatable .meta-box-field-label:first-child {
  margin-top: 0;
}


.mbf-type-textarea {
  max-width: 100%;
}

.meta-box .meta-box-repeatable .sort,
.meta-box .meta-box-repeatable-add,
.meta-box .meta-box-repeatable-remove {
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  height: 16px;
  margin: 0 auto;
  width: 16px;
  outline: none;
}

.meta-box .meta-box-repeatable .sort {
  background-position: -120px 0;
  cursor: move;
}

.meta-box .meta-box-repeatable-add {
  background-position: -120px -16px;
}

.meta-box .meta-box-repeatable-add.loading {
  background-image: url("/381clean/wp-admin/images/wpspin_light.gif");
  background-position: 0 0;
  cursor: default;
  pointer-events: none;
}

.meta-box .meta-box-repeatable-remove {
  background-position: -120px -32px;
}

.meta-box .meta-box-repeatable .ui-state-placeholder {
  background: rgba(0,128,0,0.7);
}
